<div class="details-container">
    <div class="details-container-image">
        <img src="{{blog.image}}">
    </div>
    <div class="details-container-info">
        <h2>{{blog.title}}</h2>
        <h3>{{blog.category}}</h3>
        <h3>By: {{blog.email}}</h3>
        <!--If there are followers-->
        <h4>Follow By: jace.m, sandra.p</h4>
        <!--If there are no followers-->
        <h4>There are no followers yet!</h4>
    </div>
    <div class="details-container-content">
        <p>{{blog.content}}</p>
    </div>
    {{#if isOwner}}
    <div class="btn-container">
        <a href="/blog/{{blog._id}}/edit">Edit</a>
        <a href="/blog/{{blog._id}}/delete">Delete</a>
        {{/if}}
        {{#if user}}
        <div class="btn-container">
            <a href="#">Follow</a>
            <!-- logged in user who has already followed the blog-->
            <p class="follow-pub">You already follow this blog!</p>
        </div>
        {{/if}}

    </div>