{{>header}}
<section id="viewMydestinations">
    <h3>Your destinations</h3>
    {{#each destinations}}
    <div class="destination-ticket">
        <div class="destination-left">
            <img src={{imgUrl}}>
        </div>
        <div class="destination-right">
            <div>
                <h3>{{city}}</h3><span>{{departureDate}}</span>
            </div>
            <div>
                {{destination}}
            </div>
            <p>{{duration}} days </p>
            <a href="/remove/{{_id}}" class="remove">REMOVE</a>
            <a href="/details/{{_id}}" class="details">Details</a>
        </div>
    </div>
    {{/each}}
    
</section>
{{>footer}}